@import url('https://fonts.googleapis.com/css2?family=Tahoma,wght@1,700&display=swap');

* {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
}

body{
    background: linear-gradient(grey, darkblue);
}

section {
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
}

ul {
    list-style: none;
}

h2{
    font-size: 3em;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.card {
    /* border: 2px solid darkblue; */
    /* box-shadow: 5px 10px 5px #88888830; */
    width: 350px;
    min-height: 250px;
    aspect-ratio: 3 / 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    text-align: center;
    margin: 20px;
  }
  .card:hover {
    /* border: 2px solid darkblue; */
    /* box-shadow: 5px 10px 5px #88888830; */
    transform: scale(1.1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 20%;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
}

.preview{
    object-fit: cover;
    width: 100%;
    height: 100%;
}